<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "twitter", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Домашняя",    root_path %></li>
          <li><%= link_to "Помощь",    help_path %></li>
          <li><%= link_to "Войти", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>